<h1>Editing phone list</h1>

<%= render "form", phone_list: @phone_list %>

<br>

<div>
  <%= link_to "Show this phone list", @phone_list %> |
  <%= link_to "Back to phone lists", phone_lists_path %>
</div>
